# System files
# ------------

Icon
.DS_Store

# Modules
# -------

/node_modules/*

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# Distribution site
# -----------------

/dist/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

src/site/accounts/*
!src/site/accounts/index.html

# Avatars
# ---------------

src/assets/avatars/*
!src/assets/avatars/index.html